
* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.main{
  height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}


.container {
  /* max-width: 800px; */
  margin: auto;
  padding: 25px;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  object-fit: contain;
  
}
h2 {
  text-align: center;
  margin-bottom: 8px;
  font-size: 28px;
  font-weight: 600;
  color: #2c3e50;
}

.tickets {
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
  color: #1b5e20;
  font-size: 16px;
 
}

.member-card {
  border: 1px solid #e0e0e0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  background: #fafafa;
  transition: 0.3s ease;
}
.member-card:hover {
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}
.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 12px 12px; /* top/bottom 12px, left/right 12px */
  font-size: 14px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
  caret-color: transparent;
}

.form-group label {
  position: absolute;
  left: 12px;
  top: 12px; /* same as input padding-top */
  font-size: 14px;
  color: #777;
  background-color: #fff;
  padding: 0 4px;
  border-radius: 4px;
  pointer-events: none;
  line-height: 1;
  transition: all 0.3s ease;
}

/* Floating label when input is focused or filled */
.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
  top: 2px;        /* slightly above input text, below border */
  font-size: 12px;
  color: #007bff;
}




button {
  margin: 5px 5px 0 0;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s ease;
}

.add-btn {
  background-color: #1976d2;
  color: white;
}
.add-btn:hover {
  background-color: #1565c0;
}

.remove-btn {
  background-color: #d32f2f;
  color: white;
}
.remove-btn:hover {
  background-color: #b71c1c;
}

button[type="submit"] {
  background-color: #388e3c;
  color: white;
}
button[type="submit"]:hover {
  background-color: #2e7d32;
}

@media (max-width: 600px) {
  .container {
    padding: 18px;
  }
  .imgh1{
    margin-top: 23px;
  }
  .header{
    margin-top: -80px;
  }
  .tickets{
     margin-top: -60px;
  }
  h2 {
    font-size: 22px;
  }
  .form-group input {
    font-size: 14px;
  }
  button {
    width: 100%;
    margin-bottom: 12px;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}
}

