/* You can add global styles to this file, and also import other style files */
*{
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.swal2-timer-progress-bar {
  display: none !important;
}
